@model TourismPlatform.Web.ViewModels.BlogPosts.BlogPostsInListModel
@{
    this.ViewData["Title"] = "All Blog Posts";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach (var blogPost in Model.BlogPosts)
    {
    <div class="col-md-4 col-xs-6">
        <img src="@blogPost.ImageUrl" class="img-thumbnail" width="300" />
        <div class="media-body">
            <h5 class="mt-0"><a asp-action="ById" asp-route-id="@blogPost.Id">@blogPost.Title</a></h5>
            <span>Автор: @blogPost.AuthorName</span>
            <br />
        </div>
    </div>
    }
</div>