@model TourismPlatform.Web.ViewModels.BlogPosts.SingleBlogPostViewModel
@{
    this.ViewData["Title"] = Model.Title;
    this.ViewData["Author"] = Model.AuthorName;
}
<div class="container">
    <div>
        <h2>@this.Model.Title</h2>
        <span>Author: @Model.AuthorName</span>
    </div>
    <br />

    <div class="card" style="width: 60rem;">
        <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Title">
        <div class="card-body">
            <p class="card-text">@Model.Content</p>
        </div>
    </div>
</div>
