@using TourismPlatform.Common
@model TourismPlatform.Web.ViewModels.Offerts.SingleOffertViewModel
@{
    this.ViewData["Title"] = Model.FullName;
}

<div>
    <h2>@this.Model.FullName</h2>
</div>

    <span data-vote="1"><i class="fa fa-star"></i></span>
    <span data-vote="2"><i class="fa fa-star"></i></span>
    <span data-vote="3"><i class="fa fa-star"></i></span>
    <span data-vote="4"><i class="fa fa-star"></i></span>
    <span data-vote="5"><i class="fa fa-star"></i></span>
    <span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <li class="single-meta">
        <a asp-controller="Offerts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Редактиране</a>
    </li>
    <li class="single-meta">
        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
        </form>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Изтриване</button>
    </li>
}
<div class="item-figure">
    <img class="img-fluid w-95" src="@Model.ImageUrl" alt="@Model.FullName" />
</div>
<div class="ctg-name">
    <h5><span>Категория: @Model.CategoryName</span></h5>
</div>
<div class="ctg-name">
    <h5><span>Транспорт: @Model.TransportName</span></h5>
</div>
<div class="ctg-name">
    <h5>Цена на човек: @Model.PricePerPerson лева </h5>
</div>
<hr />
<div class="making-elements-wrap">
    <div class="row">
        <div class="col-md-6">
            <h5><u><b>Цената включва:</b></u></h5>
            <p class="item-description">
                @Model.PriceIncludes
            </p>
        </div>
        <div class="col-md-6">
            <h5><u><b>Цената не включва:</b></u></h5>
            <p class="item-description">
                @Model.PriceDoesNotInclude
            </p>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script>
        $('span[data-vote]').each(function (el) {
            console.log(el);
            $(this).click(function () {
                var value = $(this).attr('data-vote');
                var offertId = '@Model.Id';
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { 'offertId': offertId, 'value': value };
                console.log(data);
                $.ajax({
                    method: 'POST',
                    url: '/api/Votes',
                    data: JSON.stringify(data),
                  headers: {
                       'X-CSRF-TOKEN': antiForgeryToken
                  },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Наистина ли желаете да изтриете "@Model.FullName"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Да</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>

<style>
    .checked {
        color: orange
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">