@model TourismPlatform.Web.ViewModels.SearchOfferts.ListOffertsByCategoryViewModel
@{
    ViewData["Title"] = "Намерени резултати:";
}

<h1>@ViewData["Title"]</h1>
@if (!Model.OffertsBySearchedCategory.Any())
{
    <p>Съжаляваме, но нищо не е намерено.</p>
}
else
{
    <div class="row">
        @foreach (var offert in this.Model.OffertsBySearchedCategory)
        {
            <div class="card col-md-3">
                <img class="card-img-top" src="@offert.ImageUrl" alt="@offert.FullName">
                <div class="card-body">
                    <h5 class="card-title">@offert.FullName</h5>
                    <a asp-controller="Offerts" asp-action="ById" asp-route-id="@offert.Id" class="btn btn-primary">Към офертата</a>
                </div>
            </div>
        }
    </div>
}